Set 3/set3q1.PNG
Set 3/set3q10.PNG
Set 3/set3q11.PNG
Set 3/set3q12.PNG
Set 3/set3q2.PNG
Set 3/set3q3.PNG
Set 3/set3q4.PNG
Set 3/set3q5.PNG
Set 3/set3q6.PNG
Set 3/set3q9.PNG
.vscode/settings.json
Set 3/a.out
Set 3/set3q8.PNG
